---
import ButtonLink from "@/components/ButtonLink.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import SimpleLink from "@/components/SimpleLink.astro"
import { getLocale, useTranslations } from "@/i18n"
import DribbbleIcon from "@/icons/Dribbble.astro"
import GitHubIcon from "@/icons/GitHub.astro"
import GlobeIcon from "@/icons/Globe.astro"
import LinkedInIcon from "@/icons/LinkedIn.astro"
import MailIcon from "@/icons/Mail.astro"

const locale = getLocale(Astro.currentLocale)
const t = useTranslations(locale)

const buttonLinks = [
  {
    icon: MailIcon,
    label: "dmunozneyra@gmail.com",
    href: "mailto:dmunozneyra@gmail.com",
  },
  {
    icon: DribbbleIcon,
    label: "raks.dev",
    href: `https://raks.dev/${locale}`,
  },
  {
    icon: LinkedInIcon,
    label: "in/dmunozneyra",
    href: "https://linkedin.com/in/dmunozneyra",
  },
  {
    icon: GitHubIcon,
    label: "github/rakioth",
    href: "https://github.com/Rakioth",
  },
]
---

<SectionContainer as="header" class="text-gray-500">
  <ul class="mb-5 hidden font-mono text-xs print:block">
    {
      buttonLinks.map((buttonLink, index) => (
        <Fragment>
          <SimpleLink href={buttonLink.href}>{buttonLink.label}</SimpleLink>
          {index !== buttonLinks.length - 1 && (
            <span aria-hidden="true"> • </span>
          )}
        </Fragment>
      ))
    }
  </ul>

  <h1 class="mb-1.5 text-2xl font-bold text-black print:hidden">
    Daniel Muñoz Neyra
  </h1>

  <div class="flex items-center justify-between gap-x-4">
    <div class="flex flex-1 flex-col gap-y-1.5">
      <h1 class="hidden text-2xl font-bold text-black print:block">
        Daniel Muñoz Neyra
      </h1>
      <h2 class="max-w-md text-pretty font-mono text-sm">{t("description")}</h2>
      <span class="inline-flex items-center gap-x-1.5 font-mono text-xs">
        <GlobeIcon class="size-3" />
        {t("location")}
      </span>
      <ul class="mt-2.5 flex gap-x-1 print:hidden">
        {
          buttonLinks.map((buttonLink) => (
            <li>
              <ButtonLink href={buttonLink.href} ariaLabel={buttonLink.label}>
                <buttonLink.icon />
              </ButtonLink>
            </li>
          ))
        }
      </ul>
    </div>

    <picture>
      <source srcset="/me.webp" type="image/webp" />
      <img class="size-28 rounded-xl" src="/me.png" alt="Daniel Muñoz Neyra" />
    </picture>
  </div>
</SectionContainer>
